<mat-card>
    <mat-card-title align="center" class="text-capitalize">
        {{!isInEditMode?'Add Peoduct':'Update product'}}
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
            <!-- brand -->
            <div class="controls">
                <mat-icon class="mr-2">copyright</mat-icon>
                <mat-form-field>
                    <mat-label>Enter Brand Name</mat-label>
                    <input type="text" matInput formControlName="brand">
                    <mat-error>
                        <ng-container *ngIf="controls['brand'].touched && controls['brand'].hasError('required')">
                            Brand is a required field!!!
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- model -->
            <div class="controls">
                <mat-icon class="mr-2">smartphone</mat-icon>
                <mat-form-field>
                    <mat-label>Enter Model Name</mat-label>
                    <input type="text" matInput formControlName="model">
                    <mat-error>
                        <ng-container *ngIf="controls['model'].touched && controls['model'].hasError('required')">
                            Model is a required field!!!
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- image -->
            <div class="controls">
                <mat-icon class="mr-2">smartphone</mat-icon>
                <mat-form-field>
                    <mat-label>Enter Image URL</mat-label>
                    <input type="text" matInput formControlName="image">
                    <mat-error>
                        <ng-container *ngIf="controls['image'].touched && controls['image'].hasError('required')">
                            Image is a required field!!!
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <!-- price -->
                <div class="col-md-6">
                    <div class="controls">
                        <mat-icon class="mr-2">currency_rupee</mat-icon>
                        <mat-form-field>
                            <mat-label>Enter Price(INR)</mat-label>
                            <input type="text" matInput formControlName="price">
                            <mat-error>
                                <ng-container
                                    *ngIf="controls['price'].touched && controls['price'].hasError('required')">
                                    Price is a required field!!!
                                </ng-container>
                                <ng-container *ngIf="controls['price'].dirty && controls['price'].hasError('pattern')">
                                    Price should not include alphabetical and special character!!!
                                </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- canreturn -->
                <div class="col-md-6">
                    <!-- price -->
                    <div class="controls">
                        <mat-icon class="mr-2">currency_rupee</mat-icon>
                        <mat-form-field class="w-50">
                            <mat-label>Can Return</mat-label>
                            <mat-select formControlName="canReturn">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="0">0</mat-option>
                            </mat-select>
                            <mat-error>
                                <ng-container
                                    *ngIf="controls['canReturn'].touched && controls['canReturn'].hasError('required')">
                                    Can-return is a required field!!!
                                </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between m-2">
                <button mat-raised-button type="submit" [disabled]="productForm.invalid" *ngIf="!isInEditMode"
                    color="primary">Add Product</button>
                <button mat-raised-button type="button" [disabled]="productForm.invalid || productObj.canReturn==='0'"
                    (click)="onUpdate()" *ngIf="isInEditMode" color="primary">Update</button>
                <button mat-raised-button type="button" (click)="onCancel()" color="warn">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>