<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="productCard">
            <mat-card>
                <mat-card-content>
                    <figure>
                        <div class="image">
                            <img [src]="productObj.image" [alt]="productObj.model" [title]="productObj.model">
                        </div>
                        <figcaption class="text-center">
                            <h2 class="mb-0">{{productObj.brand+" "+productObj.model}}</h2>
                            <h3 class="mb-0 d-flex align-items-center justify-content-center">
                                <mat-icon>currency_rupee</mat-icon>
                                <span>{{productObj.price}}</span>
                            </h3>
                        </figcaption>
                    </figure>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-between m-2">
                    <button mat-raised-button (click)="onEdit()" color="primary">Edit</button>
                    <button mat-raised-button (click)="onRemove(productObj.prodId)" color="warn">Remove</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>