<div class="row my-5">
    <div class="col-md-4">
        <mat-card>
            <mat-card-title align="center" class="text-capitalize">
                user list
            </mat-card-title>
            <mat-card-content>
                <mat-list class="productList">
                    <mat-list-item *ngFor="let product of productsArr" class="listItem" [routerLink]="product.prodId"
                        [queryParams]="{canReturn:product.canReturn}" routerLinkActive="active">
                        <mat-icon class="mr-2">smartphone</mat-icon>{{product.brand+" "+product.model}}
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
                <div class="mt-4" align="end">
                    <button mat-fab routerLink="addProduct">
                        <mat-icon>library_add</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>